<div class="team">
  <h1><%= @team.name %></h1><br>
  <h2>Team Motto: <%= @team.motto %></h2><br>
  
</div><br>


<% @heroes.each do |hero| %>
<div class="hero">
  <h2>Hero Name: <%= hero.name %></h2><br>
  <p>Hero Power: <%= hero.power %></p><br>
  <p>Hero Biography: <%= hero.bio %></p>
</div><br>
<% end %>


